<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tags</key>
		<array>
			<string>litecoin</string>
			<string>mining</string>
		</array>
		<key>name</key>
		<string>LTCRabbit</string>
		<key>id</key>
		<string>837876587</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>litecoin</string>
			<string>alerts</string>
			<string>mining</string>
		</array>
		<key>name</key>
		<string>LTC Depot</string>
		<key>id</key>
		<string>787302625</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>litecoin</string>
			<string>ticker</string>
			<string>alerts</string>
			<string>mining</string>
			<string>news</string>
		</array>
		<key>name</key>
		<string>Miner Stats</string>
		<key>id</key>
		<string>782593885</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>litecoin</string>
			<string>ticker</string>
		</array>
		<key>name</key>
		<string>LTC Price</string>
		<key>id</key>
		<string>757638901</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>litecoin</string>
			<string>ticker</string>
		</array>
		<key>name</key>
		<string>Coined</string>
		<key>id</key>
		<string>750432002</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>alerts</string>
			<string>ticker</string>
		</array>
		<key>name</key>
		<string>BTC Charts</string>
		<key>id</key>
		<string>627347328</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>alerts</string>
		</array>
		<key>name</key>
		<string>Bitcoin Alert</string>
		<key>id</key>
		<string>699408229</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>charts</string>
			<string>ticker</string>
			<string>alerts</string>
			<string>news</string>
			<string>calculator</string>
		</array>
		<key>name</key>
		<string>CoinDesk</string>
		<key>id</key>
		<string>865294356</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>mining</string>
		</array>
		<key>name</key>
		<string>BTC Miner</string>
		<key>id</key>
		<string>648411895</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>videos</string>
			<string>education</string>
		</array>
		<key>name</key>
		<string>Everything About Bitcoins</string>
		<key>id</key>
		<string>659172435</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>litecoin</string>
			<string>bitcoin</string>
			<string>alerts</string>
			<string>calculator</string>
			<string>ticker</string>
			<string>charts</string>
		</array>
		<key>name</key>
		<string>btcReport</string>
		<key>id</key>
		<string>440302110</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>litecoin</string>
			<string>alerts</string>
			<string>ticker</string>
		</array>
		<key>name</key>
		<string>Litecoin Price</string>
		<key>id</key>
		<string>681176788</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>litecoin</string>
			<string>ticker</string>
			<string>nxt</string>
			<string>dogecoin</string>
			<string>peercoin</string>
			<string>namecoin</string>
		</array>
		<key>name</key>
		<string>Coin Ticker</string>
		<key>id</key>
		<string>636476147</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>bitcoin</string>
			<string>alerts</string>
			<string>ticker</string>
		</array>
		<key>name</key>
		<string>Bitcoin Ticker</string>
		<key>id</key>
		<string>440229059</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>news</string>
			<string>charts</string>
			<string>litecoin</string>
			<string>bitcoin</string>
			<string>alerts</string>
			<string>ticker</string>
		</array>
		<key>name</key>
		<string>Coinbits</string>
		<key>id</key>
		<string>457475022</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>wallet</string>
			<string>bitcoin</string>
		</array>
		<key>name</key>
		<string>Bread Wallet</string>
		<key>id</key>
		<string>885251393</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>news</string>
			<string>charts</string>
			<string>bitcoin</string>
			<string>alerts</string>
			<string>calculator</string>
			<string>ticker</string>
		</array>
		<key>name</key>
		<string>ZeroBlock</string>
		<key>id</key>
		<string>643184018</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>wallet</string>
			<string>bitcoin</string>
		</array>
		<key>name</key>
		<string>bitWallet</string>
		<key>id</key>
		<string>777634714</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>wallet</string>
			<string>bitcoin</string>
		</array>
		<key>name</key>
		<string>GreenAddress</string>
		<key>id</key>
		<string>889740745</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>wallet</string>
			<string>bitcoin</string>
		</array>
		<key>name</key>
		<string>Verso Wallet</string>
		<key>id</key>
		<string>763862407</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>wallet</string>
			<string>bitcoin</string>
		</array>
		<key>name</key>
		<string>CoinJar</string>
		<key>id</key>
		<string>725209873</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>wallet</string>
			<string>bitcoin</string>
		</array>
		<key>name</key>
		<string>BitStore</string>
		<key>id</key>
		<string>890668158</string>
	</dict>
	<dict>
		<key>tags</key>
		<array>
			<string>wallet</string>
			<string>bitcoin</string>
		</array>
		<key>name</key>
		<string>Coin Pocket</string>
		<key>id</key>
		<string>885640234</string>
	</dict>
</array>
</plist>
